body {
    background-color: rgb(98, 98, 98);
    color: #ff979e;
    font-family: 'Raleway', sans-serif;
}

.footer {
    background-color: #333;
    color: #fff;
    border-top: 4px solid #ff979e;
    margin-bottom: 0;
    position: fixed;
    box-shadow: 0 -5px 10px #555;
}

.blog-box {
    background-color: #fff;
    border: 1px solid #333;
    border-top-right-radius: 15px;
    box-shadow: 15px 10px 10px #333;
}

.mainheading {
    color: #fff;
}

.section-title span,
.mainheading h1.sitetitle {
    color: #fff;
    font-family: 'Rock Salt', cursive;
}

.card-title,
.mainheading h1.posttitle {
    color: #600c00;
}


/* .card-title {
    font-family: 'Rock Salt', cursive;
} */

.article-post {
    font-family: 'Raleway', sans-serif;
}

.share,
.share a {
    color: #fff;
}

.jumbotron.fortags a {
    background: #600c00;
}

ul.tags li a {
    color: #fff;
    background: #600c00;
}

.blockquote {
    border-left: 4px solid #ff979e;
    color: #ff979e;
}

.bg-site {
    background-color: #333;
}

.navbar {
    border-bottom: 4px solid #ff979e;
    box-shadow: 0 6px 10px #555;
    padding: 0rem 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #600c00;
}
.navbar-brand {
padding-top:0;
padding-bottom:0;
}

.navbar-brand-title{
    font-family:'Rock Salt';
    font-size: x-large;
    color: #600c00;
}

.mediumnavigation .navbar-brand img {
    max-height: 70px;
    margin-right: 5px;
}

ul.tags li span {
    background: rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .6);
    border-radius: 3px;
    padding: 5px 10px;
}

.section-title h2 {
    border-bottom: 1px solid #eaeaea;
}

.card {
    color: #600c00;
    background-color: #fff;
    /* border: 3px solid #333; */
    border-top-right-radius: 15px;
    box-shadow: 5px 10px 5px #333;
}



.maxthumb {
    border-top-right-radius: 15px;
}

.card.card-dark {
    color: #fff;
    background-color: #666;
}

.card.card-extra-dark {
    color: #fff;
    background-color: #444;
}

.card-footer {
    border-top: 2px solid #ff979e;
}

.text-dark-red {
    color: #600c00;
}

.card-header{
    color: white;
    font-weight: 600;
}

.card-header.card-light{
    color: #600c00;
    font-weight: 600; 
}
.card-header.virtual {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ff979e;
    /* border-bottom: 1px solid rgba(80, 107, 153, 0.3); */
    border-top-right-radius: 15px;
}

/* .bg-light.virtual {
    background-color:  #eaeaea!important;
} */

.card-header.podcast {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #600c00;
    /* border-bottom: 1px solid rgba(241, 42, 158, .3); */
    border-top-right-radius: 15px;
}

/* .bg-light.podcast {
    background-color: rgba(241, 42, 158, 0.05)!important;
} */

.card-header.in-person {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(35, 59, 35);
    /* border-bottom: 1px solid rgba(98, 241, 42, .3); */
    border-top-right-radius: 15px;
}

/* .bg-light.in-person {
    background-color: rgba(98, 241, 42, 0.05)!important;
} */

.card-header.stream {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #6441a5;
    /* border-bottom: 1px solid rgba(189, 22, 240, .3); */
    border-top-right-radius: 15px;
}

/* .bg-light.stream {
    background-color: rgba(189, 22, 240, 0.05)!important;
} */


ul.tags.short {
    list-style: none;
    padding-left: 0;
    margin: 0 0 1rem 0;
}

.pointerdown {
    margin-bottom: -26px;
    margin-left: 49%;
    font-size: 30px;
}

.pointerdown i.fa {
    color: #eaeaea;
}

.index-title,
.index-sub,
.social-icon {
    color: #fff;
    margin:4px;
}

.index-title {
    font-family: 'Rock Salt', cursive;
    font-size:3rem;
}

.about{
    max-height: 300px;
}