{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<h1>Appearances</h1>
<h1>/default/appearance/list</h1>

<div class="main-content">
    <!-- Posts Index
        ================================================== -->
    <section class="recent-posts">
        <div class="section-title">
            <h2><span>All Posts</span></h2>
        </div>
        <div class="row listrecent">           
            {{ range .Site.Data.appearances }}
            <p>{{.name}}</p>
            {{end}}
        </div>
    </section>
    {{- partial "list-partials/pagination.html" $post_paginator -}}
</div>
{{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
{{- partial "_shared/jumbotron.html" . -}}
{{- partial "_shared/footer.html" . -}}
{{ end }}