<!-- <div class="main-content">

    <div class="w-full m-0 p-0 bg-cover bg-center" style="background-image:url('{{ relURL "images/ndc-cph.jpg"}}');
        height: 60vh; max-height:560px; width: 100%;">
        <div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">

        </div>
    </div> -->

<div class="container px-4 md:px-0 max-w-6xl mx-auto md:-mt-32 -mt-16">

    <!--Lead Card-->
    <div class="mx-0">

        <div class="bg-white w-full p-8 md:p-16 leading-normal newsletter rounded">
            <h1 class="w-full font-bold text-xl px-6">Hello, I'm Layla</h1>
            <p class="text-left">
                I'm a developer-relations professional, specialising in educating developers in the use and communicating
                the value of the products and services created by some of the world's most recognised technology companies.
            </p>    
            <p class="text-left">
                At heart, I'm a software developer and architect, specialising in C# 
                and related technologies.  Combined with formal media and 
                presenter training, I can deliver a clear, informative, and authentic
                message to many different types of audience.
            </p> 
            <p class="text-left">   
                I'm an established and well-regarded influencer within the industry. Both
                Microsoft and Github have accredited me with their respective MVP and Stars award programs.
                I'm frequently invited to participate as a guest in popular shows, podcasts and other media.
            </p>
            <p class="text-left">
                I'm vocal and proactive in my support of equal opportunities. I founded 
                the #WomenOfDotNet initiative.
            </p>
            <h3>I am currently looking for my next opportunity. If you would like to discuss working with me, then please get in touch via the <a href="{{ relURL "/contact"}}">contact form</a>.</h3>
 
        </div>
    </div>
    <!--/Lead Card-->

    <!--Posts Container-->
    <div class="flex flex-wrap justify-between pt-12 -mx-6">

        <!--1/3 col -->
        <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div
                class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                <a href="{{ relURL "/talks" }}" class="flex flex-wrap no-underline hover:no-underline">
                    <img src="{{ relURL "images/update-selfie.png"}}" class="h-64 w-full rounded pb-6">
                    <div class="w-full font-bold text-xl text-gray-900 p-6">Speaker
                    </div>
                    <p class="text-gray-800 font-serif text-base px-6 mb-5">
                        I am an international speaker, having travelled widely to speak at some of the highest profile conferences in the industry.
                        Frequently, to a main-stage audience of hundreds of people, I deliver highly technical, informative, and entertaining sessions.
                    </p>
                </a>
            </div>
        </div>

        <!--1/3 col -->
        <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div
                class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                <a href="{{ relURL "/workshops" }}" class="flex flex-wrap no-underline hover:no-underline">
                    <img src="{{ relURL "images/teaching-small.jpg"}}" class="h-64 w-full rounded pb-6">
                    <div class="w-full font-bold text-xl text-gray-900 p-6">Teacher
                    </div>
                    <p class="text-gray-800 font-serif text-base px-6 mb-5">
                        I absolutely love sharing knowledge. I produce well-considered, carefully researched,
                        and balanced workshops.  I teach all levels, from developers
                        just starting out, to seasoned professionals.
                    </p>
                    
                </a>
            </div>
        </div>
        <!--1/3 col -->
        <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div
                class="flex-1 bg-white rounded  overflow-hidden shadow-md transitionransform transform hover:shadow-lg hover:scale-105">
                <a href="https://youtube.com/@laylacodesit" class="flex flex-wrap no-underline hover:no-underline">
                    <img src="{{ relURL "images/youtube.png"}}" class="h-64 w-full rounded pb-6">
                    <div class="w-full font-bold text-xl text-gray-900 p-6">YouTuber
                    </div>
                    <p class="text-gray-800 font-serif text-base px-6 mb-5">
                        Starting at the end of 2022 I began producing video content.  Building on existing 
                        experience working with home video prodution, I have recently raised the bar of my 
                        own production standards by undertaking training on Adobe products and TV 
                        presenting.
                    </p>
                    <p class="text-gray-800 font-serif text-base px-6 mb-5">
                        Follow me!
                        @LaylaCodesIt
                    </p>
                </a>
            </div>
        </div>



        <!--1/2 col -->
        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                    <img src="{{ relURL "images/ignite.jpg"}}"
                        class="h-full w-full rounded pb-6">
                    <div class="w-full font-bold text-xl text-gray-900 px-6">Emcee and Host
                    </div>
                    <p class="text-gray-800 font-serif text-base px-6 mb-5">
                       I have been the live emcee for several in-person and online conferences. 
                       I have hosted first-party events for developers and executives alike.
                    </p>
                    <p class="text-gray-800 font-serif text-base px-6 mb-5">
                        A favourite higlight of mine, was that I was asked
                        to represent Microsoft by co-hosting their "Ignite Spotlight 
                        on the UK" event. 
                        This was a fully stage-managed studio event that was broadcast live to tens 
                        of thousands of viewers.
                    </p>
                </a>
            </div>
        </div>

        <!--1/2 col -->
        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 flex-row bg-white rounded overflow-hidden shadow-md transitionransform transform hover:shadow-lg hover:scale-105">
                <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                    <img src="{{ relURL "images/layla-porter-cover.jpg" }}"
                        class="h-full w-full rounded pb-6">
                    <div class="w-full font-bold text-xl text-gray-900 px-6">Livestreaming
                    </div>
                    <p class="text-gray-800 font-serif text-base px-6 mb-5">
                        For several years I livestreamed on Twitch with a selection of crazy-cool 
                        virtual studios.
                    </p>
                    <p class="text-gray-800 font-serif text-base px-6 mb-5">
                      I have since switched my focus to curated video content, however I still love to appear as a guest on livestreams.
                    </p>
                </a>
            </div>
        </div>


    </div>
    <!--/ Post Content-->


    <!-- </div> -->