<div class="main-content">

    <div class="w-full m-0 p-0 bg-cover bg-center" style="background-image:url('{{ relURL "images/ndc-lon-23.jpg"}}'); height: 60vh; max-height:560px; width: 100%;">
        <div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">

        </div>
    </div>

    <div class="container px-4 md:px-0 max-w-6xl mx-auto md:-mt-32 -mt-16">

        <!--Lead Card-->
        <div class="mx-0">

            <div class="bg-white w-full p-8 md:p-16 leading-normal newsletter">
                <h1 class="w-full font-bold text-xl px-6">Talks</h1>
                <p class="text-center">
                    I am available to speak at diverse and inclusive events and conferences.
                </p>
                <p class="text-center">
                    Below is a list of my currently available abstracts.
                </p>
            </div>
        </div>
        <!--/Lead Card-->

        <!--Posts Container-->
        <div class="flex flex-wrap justify-between pt-12 -mx-6">


            <div class="w-full  p-6 flex flex-col flex-grow flex-shrink">
                <div
                    class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                    <div class="flex flex-wrap ">
                        <h2 class="w-full p-6">Layla's Bio
                        </h2>
                        <p class="text-gray-800text-base px-6 mb-5">
                            Layla is a Developer Advocate serving the .NET community. She creates videos for YouTube
                            predominantly on .NET but you'll find other topics, such as devrel and tech covered too. She
                            is a 5 times Microsoft MVP, 3 times GitHub Star, and the founder of the #WomenOfDotNet
                            Initiative. Layla loves sharing knowledge whilst having fun. No question is stupid and
                            beginners are always welcome.
                        </p>
                        </a>
                    </div>
                </div>
            </div>

            {{ range site.Data.abstracts.definitions}}


            <!--1/3 col -->
            <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                <div
                    class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                    <div class="flex flex-wrap ">
                        <h2 class="w-full p-6">{{.title}}
                        </h2>
                        <p class="text-gray-800 text-base px-6 mb-5">
                            {{.content}}
                        </p>
                    </div>
                </div>
            </div>

            {{end}}
        </div>
    </div>
</div>