<div class="main-content">

    <div class="w-full m-0 p-0 bg-cover bg-center" style="background-image:url('{{ relURL "images/workshop.jpg"}}');
        height: 60vh; max-height:560px; width: 100%;">
        <div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">

        </div>
    </div>

    <div class="container px-4 md:px-0 max-w-6xl mx-auto md:-mt-32 -mt-16">

        <!--Lead Card-->
        <div class="mx-0">
    
            <div class="bg-white w-full p-8 md:p-16 leading-normal newsletter">
                <h1 class="w-full font-bold text-xl px-6">Workshops</h1>
                <p class="text-center w-full">
                    If you would like to chat with me about running a workshop at your event or company, please get in touch!
                </p>
            </div>
        </div>
        <!--/Lead Card-->
    
        <!--Posts Container-->
        <div class="flex flex-wrap justify-between pt-12 -mx-6">


            <div class="w-full  p-6 flex flex-col flex-grow flex-shrink">
                <div
                    class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                    <div class="flex flex-wrap ">
                        <h2 class="w-full p-6">Building cloud-ready, resilient systems in .NET
                        </h2>
                        <p class="text-gray-800text-base px-6 mb-5 w-full text-center">
                            <em>This is best given as a two-day workshop, but can be given as a one-day.</em> <br>
                            "Cloud-ready" means modifying a legacy software application to run on cloud infrastructure.
                            Building a resilient application is crucial, regardless of the system architecture.
                            The workshop covers a code kata, design patterns, and building a functional application using
                            .NET 8 and C#.
                         </p>
                    </a>
                </div>
            </div>
        </div>

        <div class="w-full  p-6 flex flex-col flex-grow flex-shrink">
            <div
                class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                <div class="flex flex-wrap ">
                    <h2 class="w-full p-6">Building Future-Proof Apps with the Modular Monolith
                    </h2>
                    <p class="text-gray-800text-base px-6 mb-5 w-full text-center">
                        In the world of software development, finding the right balance between monolithic and
                         microservices architectures is crucial to creating maintainable and scalable applications.
                          However, the journey to microservices is not without its challenges, 
                        and teams often find themselves grappling with the repercussions of early adoption.
                     </p>
                </a>
            </div>
        </div>
    </div>

    <div class="w-full  p-6 flex flex-col flex-grow flex-shrink">
        <div
            class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
            <div class="flex flex-wrap ">
                 <h1 class="w-full font-bold text-xl px-6"> Upcoming Workshops </h1>
                </div>
               
            </a>
        </div>
    </div>


           
            <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                <div class="flex-1 bg-white rounded overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                    <a class="flex flex-wrap content-center">
                        <h2 class="w-full p-6 pb-3 mb-0">NDC Oslo</h2>
                        <h4 class="w-full">June 10-11, 2024</h4>
                        <p class="w-full text-gray-800 text-base px-6 mb-2 text-center">
                            Building cloud-ready, resilient systems in .NET </p>
                            <a href="https://ndcoslo.com/workshops/building-cloud-ready-resilient-systems-in-dotnet/8fafbc60597b" target="_blank">Book here</a>
                       
                        <p class="w-full text-gray-800 text-base px-6 mb-5 text-center">
                            <em>two-day</em>
                        </p>
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                <div
                    class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                    <a class="flex flex-wrap ">
                        <h2 class="w-full p-6 pb-3  mb-0">VSLive! 2-Day Training Seminar
                        </h2>
                        <h4 class="w-full">June 4-5, 2024</h4>
                        <p class="w-full text-gray-800 text-base px-6 mb-2 text-center">
                            Building cloud-ready, resilient systems in .NET
                        </p>
                        <a href="https://vslive.com/events/training-seminars/2024/jun4/home.aspx" target="_blank">Book here</a>
                        <p class="w-full text-gray-800 text-base px-6 mb-5 text-center">
                            <em>two-day online</em>
                        </p>
                    </a>
                </div>
            </div>
            <div class="w-1/2 md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                <div
                    class="flex-1 bg-white rounded  overflow-hidden shadow-md transition-transform transform hover:shadow-lg hover:scale-105">
                    <a class="flex flex-wrap ">
                        <h2 class="w-full p-6 pb-3  mb-0">NDC Copenhagen
                        </h2>
                        <h4 class="w-full">August 26-27, 2024</h4>
                        <p class="w-full text-gray-800 text-base px-6 mb-2 text-center">
                            Building Future-Proof Apps with the Modular Monolith
                           
                        </p>
                        <a href="https://cphdevfest.com/workshops/building-future-proof-apps-with-the-modular-monolith/15769cd358ee" target="_blank">Book here</a>
                        <p class="w-full text-gray-800 text-base px-6 mb-5 text-center">
                            <em>two-day</em>
                        </p>
                    </a>
                </div>
            </div>


            
            
        

</div>

    
       
    
        <!-- </div> -->