Spotlight
<section class="spotlight {{ .style }}" {{ with .id }} id="{{ . }}" {{ end }}>
    <div class="content">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button">{{ .label }}</a></li>
        </ul>{{ end }}

        <form method="post" action="/contact" netlify>
            <input type="hidden" name="form-name" value="contact">
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" name="subject" placeholder="Your Name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="Your Email" required><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="body" rows="5" cols="30" placeholder="Your Message" required></textarea><br>
            <button type="submit">Send</button>
        </form>

    {{ with .image }}<div class="image">
        <img src="{{ .imagepath }}" alt="{{ .imagealt }}" />
    </div>{{ end }}
</section>