<ul class="icons">
    {{ with .youtube }}<li><a target="_blank" href="https://youtube.com/@{{.}}" class="icon brands style2 fa-youtube"><span class="label">YouTube</span></a></li>{{end}}
    {{ with .github }}<li><a target="_blank" href="https://github.com/{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
    {{ with .twitter }}<li><a target="_blank" href="https://twitter.com/{{.}}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
    {{ with .mastodon }}<li><a target="_blank" href="https://dotnet.social/@{{.}}" class="icon brands style2 fa-mastodon"><span class="label">Twitter</span></a></li>{{end}}
    {{ with .email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
</ul>