<ul class="icons">
    {{ with .github }}<li><a target="_blank" href="https://github.com/{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
    {{ with .twitter }}<li><a target="_blank" href="https://twitter.com/{{.}}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
    {{ with .twitch }}<li><a target="_blank" href="https://twitch.tv/{{.}}" class="icon brands style2 fa-twitch"><span class="label">Twitch</span></a></li>{{end}}
    {{ with .tiktok }}<li><a target="_blank" href="https://tiktok.com/@{{.}}" class="icon brands style2 fa-tiktok"><span class="label">TikTok</span></a></li>{{end}}
    {{ with .linkedin }}<li><a target="_blank" href="https://linkedin.com/in/{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}   
    {{ with .email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
</ul>