				<!-- Spotlight -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
                    <div class="content">
                        <h2>The Hooked on .NET newsletter</h2>
                        <p>A monthly newsletter edited by me with a guest writer every month.</p>
                        <ul class="actions stacked">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </div>
                    <div class="image">                          
                        <iframe src="https://laylacodesit.substack.com/embed" 
                        width="100%" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
                    </div>
                </section>

                