<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="workshops">
    <div class="content">
<h2>Available workshops</h2>
<p>If you would like to chat with me about running a workshop at your event or company, please get in touch!</p>
                        <ul class="actions stacked">
                            <li><a href="#contact" class="button">Contact Layla</a></li>
                        </ul>
        <div class="">

            <dl>

                <dt>The road to modularity - coming soon</dt>
                <dd>
                    <p>A complete guide to modularising your app into a maintainable, well-architected modular monolith.
                    </p>
                </dd>
                <dt>Building cloud-ready, resilient systems in .NET</dt>
                <dd>
                    <p>
                        <em>This is best given as a two-day workshop, but can be given as a one-day.</em> <br>
                        "Cloud-ready" means modifying a legacy software application to run on cloud infrastructure. 
                        Building a resilient application is crucial, regardless of the system architecture.
                        The workshop covers a code kata, design patterns, and building a functional application using .NET 7 and C#.            
                    </p>


                </dd>
            </dl>
        </div>
    </div>
   <div class="image">
        <img src="images/workshop-small.jpg" alt="A photo of Layla giving a workshop to a room full of people" />
    </div>
</section>