{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">

        <div class="w-full m-0 p-0 bg-cover bg-center"
		style="background-image:url('{{ relURL "images/ndc-cph.jpg"}}'); height: 60vh; max-height:560px; width: 100%;">
		<div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
			<!--Title-->
		
		</div>
	</div>

      
        
        {{ partial "partials/single-partials/about.html" . }}
            
    </div>

{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
