<!--Subscribe-->

<div id="mc_embed_shell">

    <div id="mc_embed_signup" class="container font-sans bg-cl-dark-blue rounded mt-8 p-4 md:p-24 text-center">
        <form
            action="https://dev.us21.list-manage.com/subscribe/post?u=d72d5bb0729d739af9f3bfc0f&amp;id=6698fc42a8&amp;f_id=00b5ebe6f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_self" novalidate="">
            <h2 class="font-bold break-normal text-2xl md:text-4xl  text-cl-hot-pink" id="mc_embed_signup_scroll">Subscribe to Hooked on
                .NET</h2>
            <h3 class="font-bold break-normal font-normal text-base md:text-xl text-cl-nude">Get the latest newsletter
                delivered right to your inbox</h3>


            <div class="w-full text-center pt-4">
                <form action="#">
                    <div class="max-w-sm mx-auto p-1 pr-0 flex flex-wrap items-center">

                        <label class="block text-cl-nude font-bold md:text-right mb-1 md:mb-0 pr-4"
                            for="mce-FULLNAME">Full Name</label>
                        <input type="text" name="FULLNAME"
                            class="mb-6 bg-cl-guava appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-cl-hot-pink leading-tight focus:outline-none focus:bg-white focus:border-cl-hot-pink"
                            id="mce-FULLNAME" value="">

                        <label class="block text-cl-nude font-bold md:text-right mb-1 md:mb-0 pr-4"
                            for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                        <input type="email" name="EMAIL" placeholder="youremail@example.com"
                            class="bg-cl-guava appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-cl-hot-pink leading-tight focus:outline-none focus:bg-white focus:border-cl-hot-pink"
                            id="mce-EMAIL" required="" value="">
                        <div class="text-sm text-center text-gray-500"><span class="asterisk">*</span> indicates
                            required</div>
                    </div>


                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        /* real people should not fill this in and expect good things - do not remove this or risk
                        form bot signups */
                        <input type="text" name="b_d72d5bb0729d739af9f3bfc0f_6698fc42a8" tabindex="-1" value="">
                    </div>
                    <div class="md:flex md:items-center">
                        <div class="md:w-1/3"></div>
                        <div class="md:w-2/3">

                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                    class="shadow bg-cl-hot-pink hover:bg-cl-nude hover:text-cl-dark-blue focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                    value="Subscribe">

                            </div>
                        </div>
                </form>
            </div>


    
    </form>
</div>
</div>


<!-- /Subscribe-->