<!-- begin post -->


<div class="card">
    <!-- <div class="maxthumb">
        <a href="{{ .Permalink }}">
                <img class="img-fluid" src="{{ .Params.image }}" alt="A thumbnail image">
                
        </a>
    </div> -->
    <div class="card-body">
        <h2 class="card-title">{{ .Title }}</h2>
        <h4 class="card-text">{{ .Summary }}</h4>            
    </div>
    <div class="card-footer bg-white">
        <div class="wrapfooter">                 
            </span>           
            <div class="clearfix"></div>
        </div>
    </div>
</div>
