{{/* <h2><span>Appearances</span></h2> */}}
<div class="main-content">
    <!-- Posts Index
        ================================================== -->
    <section class="recent-posts">
        <div class="section-title">
            <h2 class="pt-3"><span>Upcoming Appearances</span></h2>
        </div>
        <!-- <div class="row listrecent"> -->
        {{/* {{ range sort .Site.Data.appearances.events "date" "desc"}}
        {{- partial "list-partials/appearancebox.html" . -}}
        {{end}} */}}

        {{ $events := slice }}
        {{ range .Site.Data.appearances.events }}
        {{ $event := . }}
        {{ $parsedEvent := dict }}
        {{ range $k, $v := $event }}
        {{ if eq $k "date" }}
        {{ $parsedEvent = merge $parsedEvent (dict $k (time $v)) }}
        {{ else }}
        {{ $parsedEvent = merge $parsedEvent (dict $k $v) }}
        {{ end }}
        {{ end }}
        {{ $events = $events | append $parsedEvent }}
        {{ end }}
        <div class="row listrecent">
        {{ range sort $events "date" "desc" }}

       
            {{ if (.date.After now) }}
            {{- partial "list-partials/appearancebox.html" . -}}

            {{ end }}
        {{end}}
        </div>
        
        <div class="bottompagination">
            <div class="pointerdown"><i class="fa fa-caret-down"></i></div>
            <span class="navigation" role="navigation">              
            </span>
          </div>
          <div class="section-title">
            <h2><span>Previous Appearances</span></h2>
        </div>
        <div class="row listrecent">
        {{ range sort $events "date" "desc" }}
            {{ if (.date.Before now) }}

            {{- partial "list-partials/appearancebox.html" . -}}

            {{end}}        
        {{end}}
    </div>
</div>
</section>