<div class="main-content">
    <!-- Posts Index
        ================================================== -->
    <section class="recent-posts">
        <div class="section-title">
            <h2><span>Snippets</span></h2>
        </div>
        <div class="row">
            {{ $post_paginator := .Paginate (.Pages) 10 }}

            {{ range $post_paginator.Pages }}
            {{- partial "list-partials/snippetbox.html" . -}}
            {{end}}

        </div>
    </section>
    {{- partial "list-partials/pagination.html" $post_paginator -}}